.fixed-height {
  max-height: 170px;
  min-height: 170px;
}
.see-all {
  margin-top: 10px;
  font-size: 20px;
}
@media (max-width: 350px) {
  .fixed-height {
    max-height: 120px;
    min-height: 120px;
  }
}
@media (max-width: 550px) {
  .see-all {
    margin-top: 0px;
    font-size: 14px;
  }
}
